
<h1>Beergo Headquarters</h1>
 
 <p>
   This is the home page for BeerGo, a new way to enjoy draft beer.
 </p>
 
<%= link_to "Sign up for BeerGoNet now!", signup_path, :class => "signup_button round" %>