<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  
  <%= link_to rail1, root_path %>


<li>
  User: 
  <% if !current_user.nil? %>
    (is logged in)
  <% else %>
    (not logged in)
  <% end %>
</li>
</footer>